@model SearchResponseViewModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="col-10 mx-auto pb-3 mt-5">
        <div class="input-group">
            <input type="text"
                   name="characterName"
                   value="@ViewData["searchTerm"]"
                   placeholder="Type your favorite SuperHeroe´s or Villain´s name here and press the INTRO key to search"
                   class="form-control form-control-lg" autofocus />
            <div class="input-group-append">
                <button type="submit" class="btn btn-warning">
                    <i class="fa fa-search-plus"></i>
                </button>
            </div>
        </div>
    </div>
}

@if (Model.Results == null && ViewData["searchTerm"] == null)
{
    <img class="img-fluid mb-3" src="~/images/SuperHeroesAndVillains_grande.png" alt="All SuperHeroes Image" />
}

@if (Model.Error != null)
{
    <div class="alert alert-dismissible alert-warning mt-4">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">
            <span class="fa fa-info-circle"></span>
            Sorry!
        </h4>
        @{
            string notFoundMesssage = Model.Error.ToLower().Contains("not found")
                ? "Please make sure you did not misspell the SuperHero or Villain's name or try with another name."
                : "";
        }
        <p class="mb-0">@Model.Error. @notFoundMesssage </p>
    </div>
}


@if (Model.Results != null)
{
    <div class="row mx-auto pb-5 mt-4">

        @foreach (var character in Model.Results)
        {
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-3 mx-auto">
                <img class="img-fluid img-max-height-300" src="@character.Image.Url" alt="@character.Name image" />
                <h5 class="mb-0">@character.Name</h5>
                <small>Gender: @character.Appearance.Gender</small>
            </div>
        }
    </div>
}




